## Exercice SQL

Un ski-club utilise une base de donnÃ©es constituÃ©e de 2 tables :

- une table ADHERENTS
- une table STATIONS

Dans la table ADHERENTS on trouve un attribut â€œref_stationâ€ qui permet de connaÃ®tre les stations de ski prÃ©fÃ©rÃ©es des adhÃ©rents.

Ci-dessous le contenu de la table ADHERENTS :

| num_licence | nom	| prenom | annee_naissance | ref_station |
| :--: | :--: |:--: | :--: | :--: |
| 12558	| Doe	| John	| 1988 | 5 |
| 13668	| Vect	| Alice	| 1974	| 6 |
| 1777	| Dect	| Bob	| 1967	| 3 |
| 13447	| Beau	| Tristan | 1999 | 4 |
| 1141	| Pabeau |	John |	1975 | 3 |

Ci-dessous le contenu de la table STATIONS :

| ref | nom	| altitude_max |
| :--: | :--: | :--: |
| 3	| Le grand Bornand | 2050 |
| 4	| La clusaz	| 2616 |
| 5	| Flaine | 2510 |
| 6	| Avoriaz | 2466 |

â“__Question 1__ : Comment appelle-t-on lâ€™attribut ref_station de la table ADHERENTS ?

ðŸ’» __Question 2__ : Ã‰crire une requÃªte SQL permettant dâ€™obtenir le nom des stations ayant une altitude maxi strictement supÃ©rieure Ã  2500 m.

ðŸ’» __Question 3__ : Ã‰crire une requÃªte SQL permettant dâ€™obtenir le numÃ©ro de licence des adhÃ©rents nÃ©s aprÃ¨s 1980 et ayant pour prÃ©nom John.

â“__Question 4__: Donner le rÃ©sultat de la requÃªte SQL suivante :

```sql
SELECT nom 
FROM ADHERENTS 
WHERE num_licence > 2000 OR  ref_station = 3

```

â“__Question 5__: Donner le rÃ©sultat de la requÃªte SQL suivante :

```sql
SELECT STATIONS.nom
FROM STATIONS
INNER JOIN ADHERENTS ON ADHERENTS.ref_station = STATIONS.ref
WHERE annee_naissance > 1975

```